<h1><%= @teacher.name  %></h1>
<h3>Expressions du professeur</h3>
<% unless @teacher.expressions.empty? %>
	<table class="expressions table" summary="expressions du prof">
		<%= render @expressions %>
	</table>
<% end %>

<h3 class="expression">Nouvelle expression</h3>
<%= render 'shared/expression_form', :teacher_id => @teacher.id %>  
