<header>
    <ul class="nav nav-tabs">
      <li><%= link_to "Accueil", root_path %></li>
      <% if signed_in? %>
	  <li><%= link_to "Profs", teachers_path %></li>
      <li><%= link_to "Leaderboard", leaderboard_path %></li>
      <% else %>
      <li><%= link_to "S'identifier", signin_path %></li>
      <% end %>
    </ul>
</header>
