<h1>Inscription</h1>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Soumettre", :class => "btn btn-default" %> 
  </div>
<% end %>
