<%= form_for @expression do |f| %>

  <%= f.hidden_field :teacher_id, :value => @teacher.id %>
 
  <div class="field">
    <%= f.text_field :content%>
  </div>
  <div class="actions">
    <%= f.submit "Soumettre" %> 
  </div>
<% end %>