<% if signed_in? %>
<p>
	Bienvenue <%= @current_user.name %> ! 
</p>
<p>
	Choisissez un prof <%= link_to "ici", teachers_path%> !
</p>
<% else %>
<p><center>
  C'est la page d'accueil de l'application Speech Habits
</center></p>

<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>

<p><center>Déjà inscrit ? <%= link_to "S'identifier !", signin_path %></center></p>

<% end %>